body {
    background: #d8d8d8;
    padding: 5px;
    margin: 25px
}

.sidebar {
    float: left;
    border-right: 5px;
    border-style: ridge;
    margin-left: 150px;
    margin-top: 150px;
    background-color: #000000
}

.sidebar #name {
    color: #ff00bf;
}

<<<<<<< HEAD
.sharknado {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.sharknado #pic {
    position: relative;
    left: 50px;

}

.quote {
    font-family: 'Times New Roman';
    color: purple;
    font-size: 40px

}


=======
#hi {
    position: relative; left:510px;
}
>>>>>>> krystal's button
