body {
    background: #d8d8d8;
    padding: 5px;
    margin: 25px
}

.sidebar {
    float: left;
    border-right: 5px;
    border-style: ridge;
    margin-left: 150px;
    margin-top: 150px;
    background-color: #000000
}

.sidebar #name {
    color: #ff00bf;
}


.sharknado {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.sharknado #pic {
    position: relative;
    left: 350px;

}

#button {
    background-color: blue;

}

.quote {
    font-family: 'Times New Roman';
    color: purple;
    font-size: 40px

}


#hi {
    position: relative; left:510px;
}
krystal's button

.as{
    font-size: 18;
    font-family: Helvetica;
    border: 4px #000021 dotted;
    margin: auto;
}

#aarons-list{
    font-size: 14;
    color: blue;
    background-color: yellow;
}

#as-div{
    margin-right: 800px;
    margin-left: 200px;
}
